<header>
<div class="header-list">
    <ul>
      <li><%= link_to t("models.post.home"), posts_link_path %></li>
      <li><%= link_to t("models.post.posts list"), posts_path %></li>
      <li><%= link_to t("models.post.log out"), destroy_user_session_path, method: :delete %></li>
    </ul>
</div>
</header>
<div class="header-logo-menu">
<div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
        <ul>
          <li class="sarad1"><%= link_to t("models.post.home"), posts_link_path %></li>
          <li class="sarad"><%= link_to t("models.post.posts list"), posts_path %></li>
          <li class="sarad"><%= link_to t("models.post.log out"), destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
</div>
</div>

<div class="second-block">
  <% if @user.image? %>
    <img src='<%= @user.image %>' class="image" alt="default.png">
  <% else %>
    <img src="/assets/default.png" class="image" alt="default.png">
  <% end %>
  <p>名前(name) : <%= @user.name %></p>
  <p>年齢(age) :<%= @user.profile %></p>

  <% if current_user.id == @user.id %>
    <%= link_to t("models.post.edit"), edit_user_registration_path %>
  <% end %>

  <h3>posts</h3>
  <% @user.posts.each do |t| %>
      <%#= t.title %>
      <p><%= link_to t.title, post_path(t.id) %></p>
  <% end %>
</div>