<header>
<div class="header-list">
    <ul>
        <li><%= link_to t("models.post.home"), posts_link_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to t("models.post.my page"), user_path(current_user.id) %></li>
        <% end %>

        <% if user_signed_in? %>
            <li><%= link_to t("models.post.log out"), destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to t("models.post.sign up"), new_user_registration_path %></li>
            <li><%= link_to t("models.post.log in"), new_user_session_path %></li>
        <% end %>
    </ul>
</div>
</header>
<div class="header-logo-menu">
<div id="nav-drawer">
    <input id="nav-input" type="checkbox" class="nav-unshown">
    <label id="nav-open" for="nav-input"><span></span></label>
    <label class="nav-unshown" id="nav-close" for="nav-input"></label>
    <div id="nav-content">
        <ul>
        <li class="sarad1"><%= link_to t("models.post.home"), posts_link_path %></li>
        <% if user_signed_in? %>
            <li class="sarad"><%= link_to t("models.post.my page"), user_path(current_user.id) %></li>
        <% end %>

        <% if user_signed_in? %>
            <li class="sarad"><%= link_to t("models.post.log out"), destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li class="sarad"><%= link_to t("models.post.sign up"), new_user_registration_path %></li>
            <li class="sarad"><%= link_to t("models.post.log in"), new_user_session_path %></li>
        <% end %>
    </ul>
    </div>
</div>
</div>

<div class="haikei">
    <%# Postを検索 %>
    <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag 'search' %>
    <% end %>
    <%= form_tag bukken_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
                        options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                        {
                        prompt: 'タグで絞り込み検索',
                        onchange: 'submit(this.form);'
                        }
        %>
        
    <% end %>

    <br>
    <%#= link_to "new post", new_post_path %>
    <%= link_to t("models.post.new post"), new_post_path %> 

    <h3>ranking</h3>
    <%#= page_entries_info @posts %>
    <%#= paginate @rank_posts %>
    <% @rank_posts.each do |t| %>
        <div class="gazou">
            <div class="post">
                <% if t.user.image? %>
                    <img src='<%= t.user.image %>' class="imagepost" alt="default.png">
                <% else %>
                    <img src="/assets/default.png" class="imagepost" alt="default.png" %>
                <% end %>
            </div>
            <div class="post">
                <% if user_signed_in? %>
                    <a href="/users/<%= t.user_id %>"><%= t.user.name %></a>
                <% else %>
                    <%= t.user.name %>
                <% end %>
            </div>
        </div>
            <div class="okawa">曲名 (Title)：
                <%= t.title %>
            </div>
            <div class="okawa">好きな理由 (Why do you like?)：
                <%= t.content %>
            </div>
            <div class="okawa">好きな歌詞 (favorite lyric)：
                <%= t.lyric %>
            </div>
            <div class="okawa">
                <% t.tags.each do |tag| %>
                    <%= tag.name %>
                <% end %>
            </div>
        <br>
        <tr>
        <iframe class="tatan" width="504" height="284" src="https://www.youtube.com/embed/<%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </tr>
        <br>

        <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
        <%= t.created_at.strftime("%Y-%m-%d %H:%M") %>
    <% end %>

    <h3>posts</h3>

    <%#= page_entries_info @posts %>
    <%= paginate @posts %>

    <div class="posts-container">
        <% @posts.each do |t| %>
            <div class = "post-container">
                <div class="gazou">
                    <div class="post">
                        <% if t.user.image? %>
                            <img src='<%= t.user.image %>' class="imagepost" alt="default.png">
                        <% else %>
                            <img src="/assets/default.png" class="imagepost" alt="default.png" %>
                        <% end %>
                    </div>
                    <div class="post">
                        <% if user_signed_in? %>
                            <a href="/users/<%= t.user_id %>"><%= t.user.name %></a>
                        <% else %>
                            <%= t.user.name %>
                        <% end %>
                    </div>
                </div>
                    <div class="okawa">曲名 (Title)：
                        <%= t.title %>
                    </div>
                    <div class="okawa">好きな理由 (Why do you like?)：
                        <%= t.content %>
                    </div>
                    <div class="okawa">好きな歌詞 (favorite lyric)：
                        <%= t.lyric %>
                    </div>
                    <% t.tags.each do |tag| %>
                        <%= tag.name %>
                    <% end %>
                <br>
                <tr>
                <iframe class="tatan" width="480" height="265" src="https://www.youtube.com/embed/<%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </tr>
                <br>
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(t) %>
                        <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                            <i class="fas fa-heart"></i><%= t.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                            <i class="far fa-heart"></i><%= t.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="far fa-heart"></i><%= t.likes.count %>
                <% end %>

                <%= t.created_at.strftime("%Y-%m-%d %H:%M") %>
                <br>
                <%= link_to t("models.post.detail"), post_path(t.id) %>
                <% if user_signed_in? && current_user.id == t.user_id %> 
                    <%= link_to t("models.post.edit"), edit_post_path(t.id) %>
                    <%#= button_to "削除する", post_path(t.id), method: :delete, data: { confirm: "really?" } %>
                    <%= link_to t("models.post.delete"), post_path(t.id), method: :delete, data: { confirm: "really?" } %>
                <% end %>
            </div>
        <% end %>
    </div>

    <a href="https://www.oneokrock.com/jp/">
    <img src="/assets/oneokrock.jpg" alt="oneokrock.jpg" class="img_icon">
    </a>

    <a href="https://twitter.com/ONEOKROCK_japan">
    <img src="/assets/twitter.jpg" alt="twitter.jpg" class="img_icon">
    </a>

    <a href="https://www.instagram.com/oneokrockofficial/">
    <img src="/assets/instagram.png" alt="instagram.png" class="img_icon">
    </a>

    <a href="https://www.youtube.com/user/ONEOKROCKchannel">
    <img src="/assets/youtube.png" alt="youtube.png" class="img_icon">
    </a>
</div>