<header>
<div class="header-list">
    <ul>
        <li><%= link_to t("models.post.posts list"), posts_path %></li>
    </ul>
</div>
</header>
<div class="header-logo-menu">
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
            <ul>
                <li class="sarad1"><%= link_to t("models.post.posts list"), posts_path %></li>
            </ul>
    </div>
</div>
</div>

<div class="taipon">
    <!--div class="kaorin"-->
        <h3>New Post</h3><br>
        <%= form_for @post do |f| %>
            <div class="field">
                <p><%= f.label :曲名 %> (Title)</p>
                <%= f.text_field :title, maxlength: "25", class:"taichi" %>
            </div>
            <div class="field">
                <p><%= f.label :好きな理由 %> (Why do you like?)</p>
                <%= f.text_area :content, size: "43x5" %>
            </div>
            <div class="field">
                <p><%= f.label :好きな歌詞 %> (favorite lyric)</p>
                <%= f.text_area :lyric, size: "43x5" %>
            </div>
            <div class="check_box">
                <!--span>ジャンル(genre)</span-->
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                    <div>
                        <%= tag.label do %>
                            <%= tag.check_box %>
                            <%= tag.text %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="youtube_url">
                <p><%= f.label :youtube_url %></p>
                <%= f.text_field :youtube_url %> <br>
                <a href="https://www.youtube.com/user/ONEOKROCKchannel">
                <img src="/assets/youtube.png" alt="youtube.png" class="img_icon">
                </a>
            </div>
            <br>
            <%= f.submit (t "models.post.new"),{class: "button"} %>
        <% end %>
    <!--/div-->
</div>