<header>
<div class="header-list">
    <ul>
        <li><%= link_to t("models.post.posts list"), posts_path %></li>
    </ul>
</div>
</header>

<div class="taipon">
    <div class="kaorin">
        <h3>New Post</h3><br>
        <%= form_for @post do |f| %>
            <div class="field">
                <p><%= f.label :曲名 %> (Title)</p>
                <%= f.text_field :title, :size => 140 %>
            </div>
            <div class="field">
                <p><%= f.label :好きな理由 %> (Why do you like?)</p>
                <%= f.text_field :content, :size => 140 %>
            </div>
            <div class="field">
                <p><%= f.label :好きな歌詞 %> (favorite lyric)</p>
                <%= f.text_field :lyric, :size => 140 %>
            </div>
            <div class="check_box">
                <!--span>ジャンル(genre)</span-->
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                    <div>
                        <%= tag.label do %>
                            <%= tag.check_box %>
                            <%= tag.text %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <div class="youtube_url">
                <p><%= f.label :youtube_url %></p>
                <%= f.text_field :youtube_url %> <br>
            </div>
            <br>
            <%= f.submit (t "models.post.new"),{class: "button"} %>
        <% end %>
    </div>
</div>